@charset "UTF-8";

body {
	margin: 0;
}

.title {
	height: 48px;
	font-size: 16px;
	line-height: 48px;
	text-align: center;
	color: rgba(0, 0, 0, .85);
	background-color: #fafafa;
}

.line {
	width: 100%;
	height: 1px;
	background-color: rgb(204, 204, 204);
}

.div-parent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

.div-control {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border:1px solid#000
}

.div-control-column {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.div-display-folder {
	
}

.div-display-file {
	display: none;
}

.div-display-search-result {
	display: none;
}